body {
    font-family: monospace;
    color: #ccc;
    background-color: #000;
    margin: 0;
    padding: 1rem;
    font-size: large;
}

.no-js > *:not(noscript) {
    display: none !important;
}

noscript {
    color: #c00;
}

.terminal {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.header {
    padding: 1rem 0;
}

.error {
    color: #c00;
    display: flex;
    margin: 0;
}

.output {
    overflow-wrap: anywhere;
}

.output img {
    max-width: 16rem;
    height: auto;
    object-fit: cover;
    opacity: 0;
    animation: loading-effect 2s ease-in-out forwards;
}

.output ul {
    list-style: none;
}

.output ul li p {
    margin: inherit;
}

.output ul li a {
    color: inherit;
    text-decoration-thickness: from-font;
}

.output ul li a:hover {
    text-decoration: none;
}

@keyframes loading-effect {
    0% {
        opacity: 0;
        background-size: 0% 0%;
        background-position: 0% 0%;
    }

    100% {
        opacity: 1;
        background-size: 100% 100%;
        background-position: 100% 100%;
    }
}

.command-div {
    width: 5rem;
    display: inline-block;
}

.input {
    display: flex;
    margin: 0;
}

.prompt {
    color: #0c0;
}

.command-input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #0c0;
    font: inherit;
    outline: none;
    caret-color: #0c0;
    caret-shape: underscore;
}